DEBUG=0
SECRET_KEY=change-me-super-secret

POSTGRES_DB=career
POSTGRES_USER=career
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=career_postgres
POSTGRES_PORT=5432

REDIS_HOST=career_redis

ALLOWED_HOSTS=your-domain.com,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://your-domain.com,http://localhost:4000
CORS_ORIGIN_ALLOW_ALL=0

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

ONEC_HOST=
ONEC_USERNAME=
ONEC_PASSWORD=
